# Day 1: Python Basics

## Variable Types

In [ ]:
x = 10
name = 'Ankur'
price = 99.99
is_valid = True
print(type(x), type(name), type(price), type(is_valid))

<class 'int'> <class 'str'> <class 'float'> <class 'bool'>

## Lists, Tuples, and Dictionaries

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'name': 'Ankur', 'age': 21}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'name': 'Ankur', 'age': 21}

## Operators

In [ ]:
a = 10
b = 5
print(a + b, a - b, a * b, a / b, a > b, a == b)

15 5 50 2.0 True False

## Control Flow: if, elif, else

In [ ]:
num = 7
if num > 0:
    print('Positive')
elif num < 0:
    print('Negative')
else:
    print('Zero')

Positive

## Loops

In [ ]:
for i in range(3):
    print('Loop', i)

count = 0
while count < 3:
    print('Count', count)
    count += 1

Loop 0
Loop 1
Loop 2
Count 0
Count 1
Count 2

In [ ]:
print("Completed Day 1 Notebook for QuantLake Internship ✅")

Completed Day 1 Notebook for QuantLake Internship ✅